<%- partial('./_partial/navbar') %>
<main class="archive">
	<% page.posts.each(function(post){ %>
		<article class="grid">
			<h1 class="article-title grid-item">
				<a
					class="hover-effect"
					href="<%- url_for(post.path) %>"
					data-hover="<%- post.title %>"
					><%- post.title %></a>
			</h1>

			<div class="article-meta">
				<span class="article-date"><%- date(post.date, 'MMM DD YYYY') %></span>
			</div>
		</article>
	<% }) %>
	<div class="filler"></div>
	<%- partial('./_widget/paginator') %>
</main>
